<html>
<head>
	<title>Afton Hencky</title>
	<style type="text/css">
		.bg-img{
			background-image: url("/images/Optimized-mt_tam_hike2.png");
			background-repeat: no-repeat;
			background-size: cover;
			background-position: left;
			z-index: 1;
			transition: background-image 1s ease-in-out;
		}

		.bg-img:hover{
			background-image: url("/images/Optimized-mt_tam_hike.png");

		}
	</style>
	<meta name="viewport" content="width=device-width">
	<link href='http://fonts.googleapis.com/css?family=Lato:700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="../stylesheets/homepage.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body id="home">
<div id="container" class="container">

<div id="top">
	<nav>
		<ul>
			<li><a href="http://www.linkedin.com/pub/afton-hencky/53/422/88"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
			<li><a href="mailto:ahencky@gmail.com"><i class="fa fa-envelope-square fa-2x"></i></a></li>
			<li><a href="http://www.github.com/ahencky"><i class="fa fa-github-square fa-2x"></i></a></li>
			<li><a href="http://instagram.com/ahencky"><i class="fa fa-instagram fa-2x"></i></a></li>
		</ul>
	</nav>
</div>

<div id="hero" class="bg-img">
	<div id="name">
		<h1 class="first-name">Afton</h1>
		<h1 class="last-name">Hencky</h1>
	</div>
</div>

<div id="bottom-nav" class="border">
    <nav id="menu">
        <ul>
            <li><a href="#about">About</a></li>
            <li><a href="#projects">Projects</a></li>
            <li><a href="#resume">Resume</a></li>
        </ul>
    </nav>
</div>

</div>
<!-- END div container -->

<section id="about">
	<h2>About</h2>
	<p>
	Hello! I'm Afton, a Smith College alum and queer techie living in the Bay Area. I'm a technology enthusiast with  experience in web development and user support. I've previously worked as an IT assistant with the Danish Institute for Study Abroad in Copenhagen and as a copy editor for <span class="italic">Metamorphoses</span>, a 5-college journal for literary translations. I hold a B.A in Psychology, with strong skills in research, writing, and editing.
	</p>
	<p>
	I'm currently seeking professional opportunities in the Bay Area. Check out my resume and <span><a href="http://www.linkedin.com/pub/afton-hencky/53/422/88">LinkedIn</a></span> profile and feel free to <span><a href="mailto:ahencky@gmail.com">contact me.</a></span>
	</p>
	<a href="#home" class="arrow"><i class="fa fa-arrow-circle-o-up fa-2x"></i></a>
</section>

<section id="projects">
	<h2>Projects</h2>
	<h3><a href="http://tlc.dis.dk" target="blank">TLC - the Teaching and Learning Center</a></h3>
	<p> A microsite built with Django during my internship with the Danish Institute for Study Abroad in Copenhagen. The site is used to host information, resources and newsletters for DIS faculty and academic staff. Content is managed by staff through Django's admin interface. 
	</p>

	<h3><a href="http://disabroad.org/student-life/study-abroad-blogs" target="blank">
		Student Blogger Page for DIS</a></h3>
	<p> A Django app RSS feed aggregator using the python feedburner library. The page updates with blog posts from students' individual blogs.
	</p>

	<h3><a href="http://ahencky.github.io/GAproject/tuner.html" target="blank">
		Tuner - SoundCloud API project</a></h3>
	<p> My project during General Assembly's front-end web development course finds music on SoundCloud using their API to filter songs based on search criteria. 
	</p>
	<a href="#home" class="arrow"><i class="fa fa-arrow-circle-o-up fa-2x"></i></a>
</section>

<section id="resume">
	<h2>Resum&eacute</h2>
	<p>
		<a href="https://docs.google.com/document/d/1QghuNpD9pddd6rSWZyWWhBCxZxdhy99tYU7E3kE8ISQ/edit" target="blank">
		<i class="fa fa-external-link"></i> View my Resum&eacute on Google Docs &#8482
		</a>
	</p>
	<p>
		<a href="/files/ResumeAftonHencky7-26.pdf" target="_blank">
			<i class="fa fa-file-pdf-o"></i>  View as PDF
		</a>
	</p>	

	<a href="#home" class="arrow"><i class="fa fa-arrow-circle-o-up fa-2x"></i></a>
</section>

<footer>
	<div>
	<p>
		&copy;Afton Hencky 2014
	</p>
	<p>
		This is a Django site running on Google App Engine
	</p>
	<p>Icons provided by Font Awesome</p>
	</div>
</footer>

<script async src="../scripts/home.js"></script>
</body>
</html>