<html>
<head>
	<title>Afton Hencky</title>
	<style type="text/css">
		.bg-img{
			background-image: url("/images/Optimized-mt_tam_hike2.png");
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			z-index: 1;
		}
	</style>

	<link href='http://fonts.googleapis.com/css?family=Lato:700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="../stylesheets/homepage.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
<div id="container" class="container">

<div id="top">
	<nav>
		<ul>
			<li><a href="http://www.linkedin.com/pub/afton-hencky/53/422/88"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
			<li><a href="http://www.github.com/ahencky"><i class="fa fa-github-square fa-2x"></i></a></li>
			<li><a href="http://instagram.com/ahencky"><i class="fa fa-instagram fa-2x"></i></a></li>
		</ul>
	</nav>
</div>

<div id="hero" class="bg-img">
	<div id="splash">
		<h1 class="first-name">Afton</h1>
		<h1 class="last-name">Hencky</h1>
	</div>
</div>

<div id="bottom-nav" class="border">
    <nav id="menu">
        <ul>
            <li><a href="#about">About</a></li>
            <li><a href="#projects">Projects</a></li>
            <li><a href="#resume">Resume</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
</div>

</div>

<section id="about">
	<h2>About</h2>
	<p>
	Raw denim narwhal 8-bit authentic, seitan cred gastropub organic DIY Blue Bottle hoodie PBR&B fixie art party stumptown. Wayfarers skateboard actually asymmetrical forage Neutra polaroid direct trade, salvia irony cardigan bitters vinyl. Drinking vinegar Thundercats cornhole banh mi 3 wolf moon. Semiotics stumptown leggings, meggings Williamsburg biodiesel Truffaut kale chips. Disrupt blog sartorial brunch selfies kale chips biodiesel Marfa, lo-fi readymade. Sartorial asymmetrical messenger bag Truffaut viral cliche, squid fanny pack aesthetic Tumblr umami. Kogi irony plaid PBR, umami mustache quinoa Carles Vice sartorial authentic craft beer ugh +1 Brooklyn.
	</p>
	<a href="#container"><i class="fa fa-arrow-circle-o-up fa-2x"></i></a>
</section>

<section id="projects">
	<h2>Projects</h2>
	<p>90's Thundercats kitsch, Echo Park ugh literally tousled brunch biodiesel sartorial. Tousled tofu drinking vinegar seitan street art. VHS paleo meggings, you probably haven't heard of them hashtag Tonx deep v quinoa chillwave brunch leggings bicycle rights tousled. Tattooed next level Schlitz swag. Normcore leggings wayfarers +1. Blog hashtag aesthetic, biodiesel before they sold out cardigan Echo Park Wes Anderson gluten-free literally. Umami gentrify stumptown, viral Thundercats locavore lo-fi American Apparel whatever photo booth readymade artisan.
	</p>
	<a href="#container"><i class="fa fa-arrow-circle-o-up fa-2x"></i></a>
</section>

<section id="resume">
	<h2>Resume</h2>
	<a href="#container"><i class="fa fa-arrow-circle-o-up fa-2x"></i></a>
</section>


<script async src="../scripts/home.js"></script>
</body>
</html>