* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

body {
  font-family: Verdana, Helvetica, sans-serif;
}

a {
	text-decoration: none;
	outline: none;
}

h1 {
	font-family: 'Lato';
	font-weight: 700;
	text-transform: uppercase;
	font-size: 3.5em;
	color: black;
	text-shadow: 0px 4px 3px rgba(255,255,255,0.4),
             0px 8px 13px rgba(255,255,255,0.1),
             0px 18px 23px rgba(255,255,255,0.1);
}

h2 {
	font-family: 'Lato';
	color: darkblue;
	padding-top: 8%;
}

h3 {
	font-family: 'Lato';
	color: darkslategray;
	text-decoration: underline;
	margin-top: 3%;
}


section {
	background: lightgray;
	border-bottom: 1px solid lightslategray;
	padding: 0 8%;
}

section#about {
	height: 85vh;
}

section#projects {
	height: 105vh;
}

section#resume {
	background: lightgray;
	height: 45vh;
	border-bottom: 1px solid lightslategray;
	padding: 0 8%;	
}

section p {
	color: black;
	line-height: 1.8;
	font-size: 1em;
	margin-top: 2%;
}

section a {
	color: darkslategray;
}

span.italic {
	font-style: italic;
}

footer {
	height: 20vh;
	background: darkblue;
	color: white;
	width: 100%;
	text-align: center;
	font-size: .8em;
	line-height: 1.8;
	display: flex;
	display: -webkit-flex;
	flex-flow: column;
	-webkit-flex-flow: column;
	justify-content: center;
	-webkit-justify-content: center;
	align-items: center;
	-webkit-align-items: center;
}


/** ----Home Screen Settings --- **/
#container {
  width: 100%;
  height: 100vh;
  display: flex;
  display: -webkit-flex;
  flex-flow: column;
  -webkit-flex-flow: column;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
}

	/** full width image container **/
	#hero {
		flex: 60%;
		-webkit-flex: 60vh;
		width: 100%;
		display: flex;
		display: -webkit-flex;
		flex-direction: column;
		-webkit-flex-direction: column;
		justify-content: center;
		-webkit-justify-content: center;
	}
		#name{
			width: 100%;
			display: flex;
			display: -webkit-flex;
			flex-direction: row;
			-webkit-flex-direction: row;
			justify-content: space-around;
			-webkit-justify-content: space-around;
		}

	#bottom-nav, #top{
		flex: 20%;
		-webkit-flex: 20vh;
		height: 20%;
		width: 100%;
		display: flex;
		display: -webkit-flex;
		flex-direction: column;
		-webkit-flex-direction: column;
		justify-content: center;
		-webkit-justify-content: center;
		background-color: white;
	}

.border{
	border-bottom: 1px solid lightslategray;
}


/* --- Navigation Settings --- */
nav {
	width: 100%;
}

nav ul {
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	-webkit-flex-direction: row;
	justify-content: space-around;
	-webkit-justify-content: space-around;
}

nav li {
	display: inline-block;
}

nav li a {
	color: darkslategray;
	text-transform: uppercase;
	font-size: 1.1em;
	font-family: 'Lato';
}

a:hover{
	color: darkblue;
}


.fixed {
    position: fixed; 
    top: 0;  
    left: 0;
    z-index: 7;
}

i {
	color: darkslategray;
}

i:hover{
	color: darkblue;
}

.fa-arrow-circle-o-up {
	margin-top: 1%;
	float: right;
}

#about span a {
	color: darkslategray;
	font-weight: bold;
}

#about span a:hover{
	color: darkblue;
}

#resume a {
	font-family: 'Lato';
}

@media screen and (min-width: 501px) and (max-width: 650px){
	h1 {
		font-size: 2.5em;
	}

	h2 {
		font-size: 1.3em;
	}

	nav li a {
		font-size: 1em;
	}

	section {
		padding: 0 5%;
	}

	section p {
		font-size: 1em;
	}
}

@media screen and (max-width: 500px) {
	h1 {
		font-size: 2em;
	}

	h2 {
		font-size: 1.1em;
	}

	nav li a {
		font-size: .9em;
	}

	section {
		padding: 0 5%;
	}

	section p {
		font-size: .85em;
	}

}


